@{
    ViewData["Title"] = "Home Page";
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">MARINERS</h1>
                <p class="lead text-body-secondary">Below you'll find pictures of my 3 favorite players on the Seattle Mariners along with their names, positions, and why I like them</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="~/julio.jpg" />
                        <div class="card-body">
                            <h3>JULIO RODRIGUEZ</h3>
                            <p class="card-text">Our energetic center fielder who regularly mashes home runs. He won rookie of the year and is primed to lead the Mariners to some great seasons.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="~/jp.jpg" />
                        <div class="card-body">
                            <h3>JP CRAWFORD</h3>
                            <p class="card-text">Our shifty shortstop who is excellent at putting up quality at bats. He is as consistent as they come and an anchor for our lineup.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="~/cal.jpg" />
                        <div class="card-body">
                            <h3>CAL RALEIGH</h3>
                            <p class="card-text">Our 'teddy bear' catcher who seems to always get a home run when it matters most. He's clutch when we need him.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
